<div ng-app id="nurseDiv">
  <div *ngIf="!flagNewPatient && !flagSelectPatient" id="nurse">
    <h2>Infirmier(e)s</h2>
    <table *ngIf="flagLoad" id='nurseTable'><tr><th>Id</th><th>Prénom</th><th>Nom</th><th>Adresse</th><th></th><th></th></tr>
      <tr *ngFor="let n of cabinet.infirmiers" >
        <td> {{n.id}} </td>
        <td> {{n.nom}} </td>
        <td> {{n.prenom}} </td>
        <!--<td> {{n.adresse}} </td>-->
        <td> <button (click)="selectNurse(n)">Selectionner Infirmier(e)</button> </td>
        <td> <button (click)="deleteNurse(n)">Supprimer Infirmier(e)</button> </td>
      </tr>
    </table>
    <div *ngIf="flagSelectNurse" id="selectedNurse">
      <app-nurse [nurseInfo]="selectedNurse" [cabinet]="cabinet"></app-nurse>
      <button (click)="unselectNurse()">Fermer les details</button>
    </div>
    <button (click)="flagNewNurse = true">Ajouter Infirmier</button>
    <div *ngIf="flagNewNurse" id="nurseS">
      <app-nurseS [cabinet]="cabinet"></app-nurseS>
      <button (click)="flagNewNurse = false">Fermer</button>
    </div>
  </div>
  <hr>
  <div *ngIf="!flagNewNurse && !flagSelectNurse" id="patient">
    <h2>Patients</h2>
    <table *ngIf="flagLoad" id='patientTable'><tr><th>NSS</th><th>Prénom</th><th>Nom</th><th>Adresse</th><th>Pathologie</th><th></th><th></th></tr>
      <tr *ngFor="let p of cabinet.patients" ngClass="{true: 'unaffected'}[flafLoad == true]">
        <td> {{p.nss}} </td>
        <td> {{p.nom}} </td>
        <td> {{p.prenom}} </td>
        <!--<td> {{p.adresse}} </td>-->
        <td> {{p.pathologie}}</td>
        <td> <button (click)="selectPatient(p)">Sélectioner Patient</button> </td>
        <td> <button (click)="deletePatient(p)">Supprimer Patient</button> </td>
      </tr>
    </table>
    <div *ngIf="flagSelectPatient" id="selectedPatient">
      <app-patient [patientInfo]="selectedPatient" [cabinet]="cabinet"></app-patient>
      <button (click)="unselectPatient()">Fermer les détails</button>
    </div>
    <button (click)="flagNewPatient= true">Ajouter Patient</button>
    <div *ngIf="flagNewPatient" id="patientS">
      <app-patientS [cabinet]="cabinet"></app-patientS>
      <button (click)="flagNewPatient = false">Fermer</button>
    </div>
  </div>
  <!--<button (click)="test()">test</button>-->
  <!--<button (click)="test2()">test2</button>-->
</div>
